In [1]:
import pandas as pd

In [2]:
df_yield = pd.read_csv('dataset/cleaned_yield_dataset.csv')

In [3]:
df_weather = pd.read_csv('dataset/up_weather_data.csv')

In [4]:
df_yield["Dist Name"] = df_yield["Dist Name"].str.strip().str.lower()
df_weather["district"] = df_weather["district"].str.strip().str.lower()

In [5]:
df_yield.head(2)

,Unnamed: 0,Year,Dist Name,State Name,Dist Code,State Code,Crop,Area (1000 ha),Production (1000 tons),Yield (Kg per ha)
0,0,1978,saharanpur,Uttar Pradesh,189,12,RICE,97.4,158.0,1622.18
1,1,1979,saharanpur,Uttar Pradesh,189,12,RICE,110.7,122.1,1102.98

In [6]:
df_weather.head(2)

,Unnamed: 0,date,district,lat,lon,temp_avg,temp_max,temp_min,humidity,rainfall
0,0,2000,agra,26.99513,78.052783,15.66,25.64,7.66,25.21,0.0
1,1,2000,agra,26.99513,78.052783,16.51,25.41,8.98,21.16,0.0

In [7]:
df_final = pd.merge(
    df_yield,
    df_weather,
    left_on=["Dist Name", "Year"],
    right_on=["district", "date"],
    how="inner"  
)

In [8]:
df_final.head(2)

,Unnamed: 0_x,Year,Dist Name,State Name,Dist Code,State Code,Crop,Area (1000 ha),Production (1000 tons),Yield (Kg per ha),Unnamed: 0_y,date,district,lat,lon,temp_avg,temp_max,temp_min,humidity,rainfall
0,22,2000,saharanpur,Uttar Pradesh,189,12,RICE,94.79,219.24,2312.9,452589,2000,saharanpur,30.033812,77.599051,15.04,24.36,8.48,21.06,0.0
1,22,2000,saharanpur,Uttar Pradesh,189,12,RICE,94.79,219.24,2312.9,452590,2000,saharanpur,30.033812,77.599051,14.88,23.67,8.27,21.15,0.0

In [9]:
df_final.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y', 'date', 'district', 'State Name', 'Dist Code', 'State Code'], inplace=True)
df_final.columns

Index(['Year', 'Dist Name', 'Crop', 'Area (1000 ha)', 'Production (1000 tons)',
       'Yield (Kg per ha)', 'lat', 'lon', 'temp_avg', 'temp_max', 'temp_min',
       'humidity', 'rainfall'],
      dtype='object')

In [10]:
df_final.columns

Index(['Year', 'Dist Name', 'Crop', 'Area (1000 ha)', 'Production (1000 tons)',
       'Yield (Kg per ha)', 'lat', 'lon', 'temp_avg', 'temp_max', 'temp_min',
       'humidity', 'rainfall'],
      dtype='object')

In [22]:
df_final['Year'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017])

In [15]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7436325 entries, 0 to 7436324
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Year                    int64
 1   Dist Name               object
 2   Crop                    object
 3   Area (1000 ha)          float64
 4   Production (1000 tons)  float64
 5   Yield (Kg per ha)       float64
 6   lat                     float64
 7   lon                     float64
 8   temp_avg                float64
 9   temp_max                float64
 10  temp_min                float64
 11  humidity                float64
 12  rainfall                float64
dtypes: float64(10), int64(1), object(2)
memory usage: 737.6+ MB

In [23]:
df_final.drop(columns=['Production (1000 tons)', 'lat', 'lon', 'District_encoded'], inplace=True)

In [24]:
export = df_final.to_csv('dataset/final_df.csv')