In [1]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv('dataset/up_weather_data2.csv')

In [5]:
df.head(2)

,date,district,lat,lon,temp_avg,temp_max,temp_min,humidity,rainfall
0,20000101,Agra,26.99513,78.052783,15.66,25.64,7.66,25.21,0.0
1,20000102,Agra,26.99513,78.052783,16.51,25.41,8.98,21.16,0.0

In [6]:
df['date'] = df['date'].astype('str')

In [7]:
df['date'] = df['date'].str[:4]

In [9]:
df['date'] = pd.to_datetime(df['date'])

In [15]:
df['date'] = df['date'].dt.year

In [14]:
export = df.to_csv('dataset/up_weather_data.csv')

In [17]:
df['date'] = df['date'].astype('int')

In [18]:
df.head(2)

,date,district,lat,lon,temp_avg,temp_max,temp_min,humidity,rainfall
0,2000,Agra,26.99513,78.052783,15.66,25.64,7.66,25.21,0.0
1,2000,Agra,26.99513,78.052783,16.51,25.41,8.98,21.16,0.0

In [19]:
export = df.to_csv('dataset/up_weather_data.csv')