In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('dataset/Ind_adm2_Points.csv', encoding='latin1')
df.head(2)

,ÿCountry,District,Ind_adm2_ID,point_order,State,sub_polygon_id,Latitude,Longitude,Number of Records
0,India,Andaman Islands,0,326,Andaman and Nicobar,28,11.5957,92.5322,1
1,India,Andaman Islands,0,327,Andaman and Nicobar,28,11.5963,92.5325,1

In [4]:
df_new = df.drop(columns=['ÿCountry', 'Ind_adm2_ID', 'point_order', 'sub_polygon_id', 'Number of Records'])

In [5]:
df_new =df_new[df_new['State'] == 'Uttar Pradesh']

In [6]:
df_new['State'].unique()

array(['Uttar Pradesh'], dtype=object)

In [7]:
df_new['District'].unique()

array(['Mahoba', 'Mainpuri', 'Mathura', 'Mau', 'Meerut', 'Jalaun',
       'Jaunpur', 'Jhansi', 'Jyotiba Phule Nagar', 'Kannauj', 'Kanpur',
       'Kanpur Dehat', 'Kaushambi', 'Kushinagar', 'Lakhimpur Kheri',
       'Lalitpur', 'Lucknow', 'Allahabad', 'Ambedkar Nagar', 'Auraiya',
       'Azamgarh', 'Badaun', 'Baghpat', 'Bahraich', 'Ballia', 'Balrampur',
       'Banda', 'Bara Banki', 'Bareilly', 'Basti', 'Bijnor',
       'Bulandshahr', 'Chandauli', 'Chitrakoot', 'Deoria', 'Etah',
       'Etawah', 'Faizabad', 'Farrukhabad', 'Fatehpur', 'Firozabad',
       'Gautam Buddha Nagar', 'Ghaziabad', 'Ghazipur', 'Gonda',
       'Gorakhpur', 'Hamirpur', 'Hardoi', 'Hathras', 'Agra', 'Aligarh',
       'Mirzapur', 'Moradabad', 'Muzaffarnagar', 'Pilibhit', 'Pratapgarh',
       'Rae Bareli', 'Rampur', 'Saharanpur', 'Sant Kabir Nagar',
       'Sant Ravi Das Nagar', 'Maharajganj', 'Shahjahanpur', 'Shravasti',
       'Siddharth Nagar', 'Sitapur', 'Sonbhadra', 'Sultanpur', 'Unnao',
       'Varanasi'], dtype=object)

In [8]:
up_lat_long = df_new.groupby('District')[['Latitude', 'Longitude']].mean().reset_index()

In [9]:
up_lat_long['District'].unique()

array(['Agra', 'Aligarh', 'Allahabad', 'Ambedkar Nagar', 'Auraiya',
       'Azamgarh', 'Badaun', 'Baghpat', 'Bahraich', 'Ballia', 'Balrampur',
       'Banda', 'Bara Banki', 'Bareilly', 'Basti', 'Bijnor',
       'Bulandshahr', 'Chandauli', 'Chitrakoot', 'Deoria', 'Etah',
       'Etawah', 'Faizabad', 'Farrukhabad', 'Fatehpur', 'Firozabad',
       'Gautam Buddha Nagar', 'Ghaziabad', 'Ghazipur', 'Gonda',
       'Gorakhpur', 'Hamirpur', 'Hardoi', 'Hathras', 'Jalaun', 'Jaunpur',
       'Jhansi', 'Jyotiba Phule Nagar', 'Kannauj', 'Kanpur',
       'Kanpur Dehat', 'Kaushambi', 'Kushinagar', 'Lakhimpur Kheri',
       'Lalitpur', 'Lucknow', 'Maharajganj', 'Mahoba', 'Mainpuri',
       'Mathura', 'Mau', 'Meerut', 'Mirzapur', 'Moradabad',
       'Muzaffarnagar', 'Pilibhit', 'Pratapgarh', 'Rae Bareli', 'Rampur',
       'Saharanpur', 'Sant Kabir Nagar', 'Sant Ravi Das Nagar',
       'Shahjahanpur', 'Shravasti', 'Siddharth Nagar', 'Sitapur',
       'Sonbhadra', 'Sultanpur', 'Unnao', 'Varanasi'], dtype=object)

In [10]:
up_lat_long.shape

(70, 3)

In [11]:

district_mapping = {
    "Allahabad": "Prayagraj",          
    "Faizabad": "Ayodhya",             
    "Jyotiba Phule Nagar": "Amroha",   
    "Sant Ravi Das Nagar": "Bhadohi",  
    "Bara Banki": "Barabanki",        
    "Badaun": "Budaun",               
    "Rae Bareli": "Raebareli",        
    "Kanpur": "Kanpur Nagar",          
}


missing_districts = [
    "Amethi",
    "Hapur"
]


up_lat_long['District'] = up_lat_long['District'].replace(district_mapping)

In [12]:
up_lat_long.shape

(70, 3)

In [13]:
missing_coords = [
    ("Amethi", 26.3170, 81.6330),
    ("Hapur", 28.7306, 77.7759),
    ("Kasganj", 27.8083, 78.6458),
    ("Shamli", 29.4500, 77.3200),
    ("Sambhal", 28.5904, 78.5718),
]

In [14]:
missing_df = pd.DataFrame(missing_coords, columns=["District", "Latitude", "Longitude"])
missing_df

  District  Latitude  Longitude
0   Amethi   26.3170    81.6330
1    Hapur   28.7306    77.7759
2  Kasganj   27.8083    78.6458
3   Shamli   29.4500    77.3200
4  Sambhal   28.5904    78.5718

In [15]:
up_lat_long

          District   Latitude  Longitude
0             Agra  26.995130  78.052783
1          Aligarh  27.937486  78.001468
2        Prayagraj  25.392039  82.051724
3   Ambedkar Nagar  26.391190  82.682821
4          Auraiya  26.668924  79.426371
..             ...        ...        ...
65         Sitapur  27.501996  80.852889
66       Sonbhadra  24.466933  83.068163
67       Sultanpur  26.284639  82.057105
68           Unnao  26.631640  80.636773
69        Varanasi  25.360571  82.825297

[70 rows x 3 columns]

In [16]:
missing_districts = [
    {"District": "Amethi",   "Latitude": 26.3170, "Longitude": 81.6330},
    {"District": "Hapur",    "Latitude": 28.7306, "Longitude": 77.7759},
    {"District": "Kasganj",  "Latitude": 27.8083, "Longitude": 78.6458},
    {"District": "Shamli",   "Latitude": 29.4500, "Longitude": 77.3200},
    {"District": "Sambhal",  "Latitude": 28.5904, "Longitude": 78.5718},
]

In [17]:
for row in missing_districts:
    up_lat_long.loc[len(up_lat_long)] = row

In [18]:
up_lat_long

          District   Latitude  Longitude
0             Agra  26.995130  78.052783
1          Aligarh  27.937486  78.001468
2        Prayagraj  25.392039  82.051724
3   Ambedkar Nagar  26.391190  82.682821
4          Auraiya  26.668924  79.426371
..             ...        ...        ...
70          Amethi  26.317000  81.633000
71           Hapur  28.730600  77.775900
72         Kasganj  27.808300  78.645800
73          Shamli  29.450000  77.320000
74         Sambhal  28.590400  78.571800

[75 rows x 3 columns]

In [19]:
exported = up_lat_long.to_csv('dataset/up_lat_long.csv')

In [1]:
up_lat_long.head(2)

NameError: name 'up_lat_long' is not defined